/*basic reset */



body{
  background-color: black;
  margin: 0;
  padding: 0;
}
/* .typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 7s steps(40, end), blink .55s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #0F0;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #0F0;
  }
} */

canvas {
   position:fixed;
  top:0;
}

#me {
  position: fixed;
  left: 35vw;
  bottom:40vh;

}

#header{
  position: fixed;
  left:4vw;
  top:5vh;
  width:90vw;
  z-index: 1;
  margin-right: 20vw;
  background-size: 0 0;
  font-family: monospace;
  font-size:19px;
  display:inline;


}

#dropbtn {
  font-size:19px;
  font-weight: bold;
  text-decoration:none;
  color:#0F0;
  background-color: transparent;
  border: 0;
}

#blog {
  font-size:19px;
  font-weight: bold;
  text-decoration:none;
  color:#0F0;
  background-color: transparent;
  border: 0;
}

#blog:hover{
  background-color:rgba(104, 233, 35,0.5);
}

#resume{
font-weight: bold;
position:absolute;
right:0;
text-decoration:none;
color:#0F0;
font-size:19px;
} 

#middle-contents{
  position: relative;
  top: 25vh;
}

#terminal {
  position: absolute;
  margin-left: 24%;
  box-shadow: 0px 8px 16px 0px #0F0;
}

#dropbtn:hover {
background-color:rgba(104, 233, 35,0.5);
} 
 

 a:visited{
color:rgb(82, 255, 0);
}
 a:hover{
background-color:rgba(104, 233, 35,0.5);
}
 a:active{
color:rgb(87, 254, 9);
}

a.logo {
  background-color: transparent;
  margin: 0%;
}

.logo{
  position:relative;
  top:35vh;
  margin-left: 42vw;
  margin-right: 42vw;
}

.dropdown-content {
  position: absolute;
  background-color: #0d0b0b;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px #0F0;

}

.dropdown-content a {
  color: #0F0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
